@{
    ViewBag.Title = "Restaurants";
}

<div class="jumbotron">
    <form method="post" id="searchRestaurant" >
        <h1>Restaurants</h1>
        <input type="text" name="searchField" id="searchField" placeholder="Search for a restaurant...">
        <select class="selectpicker" id="category">
            <option data-icon="glyphicon-heart">All</option>
            <option data-icon="glyphicon-heart">Cafe</option>
            <option data-icon="glyphicon-heart">Dessert Shop</option>
            <option data-icon="glyphicon-heart">Fast Food</option>
            <option data-icon="glyphicon-heart">Lounge Bar</option>
            <option data-icon="glyphicon-heart">Restaurant</option>
        </select>
        <span><input type="button" class="btn btn-primary btn-lg" id="searchBtn" name="searchBtn" value="Search"></span>
    </form>
</div>

<div class="mainContent">
    <div class="col-md-12">
        <h1 id="restaurantTitle"></h1>
        <p id="restaurants"></p>
    </div>
    <div class="col-md-12">
        <h1 id="searchTitle"></h1>
        <p id="searchResults"> </p>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/api.js"></script>
}
